Source: pickle
Section: devel
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends: debhelper-compat (= 13), libftdi1-dev
Standards-Version: 4.5.1
Homepage: https://wiki.kewl.org/dokuwiki/projects:pickle
Rules-Requires-Root: no

Package: pickle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pickle Microchip PIC ICSP
 Pickle is an PICMicro in-circuit serial programmer for FreeBSD, NetBSD, Linux,
 Cygwin (Windows) and MACOS/X or any UNIX/POSIX based system, which includes the
 Raspberry Pi and embedded devices running OpenWRT.
 .
 All operating systems support high voltage programming (HVP) of PICMicros with
 the Velleman K8048 or K8076 kits using a RS232 interface, yet many other high
 voltage programming kits may be supported with the appropriate configuration.
 .
 Support is also available to program low voltage programming (LVP) compatible
 PICMicros directly from a Raspberry Pi, OpenWRT enabled router or an USB UART
 adapter. Look for PICMicros marked LVP(PGM) or LVP(KEY) in the supported
 PICMicro device list.
 .
 Refer to the Microchip documentation for your PICMicro as to whether it
 supports high voltage (HVP) or low voltage (LVP) programming or both.
 .
 Currently supported PICMicros range from the PIC10 to the PIC32. Predominantly
 PICMicros available in DIP packages are tested and supported.
